{% extends 'base.html.twig' %}

{% block title %}Hello ShippingController!{% endblock %}

{% block body %}
    <style>
        .navbar-item {
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top border" style="box-shadow: black">
        <div class="container-fluid">
            <a href="/" class="navbar-brad"><img
                        src="https://sun7-6.userapi.com/2JYupaQXK7tuU6qqEN3Y3W0C568RoyyJq1Pu6g/8gOYGcN_NqE.jpg"> MERCHEAP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item">
                        <a href="/profile" class="nav-link">Profile</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/goods" class="nav-link">Shop</a>
                    </li>
{#                    <li class="navbar-item active">#}
{#                        <a href="/login" class="nav-link">Login</a>#}
{#                    </li>#}
                    <li class="navbar-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                </ul>
                <div class="navbar-item">
                    <form action="/cart" method="post">
                            <textarea type="text" name="search" value="" hidden>
                            </textarea>
                        <button class="btn-dark">
                            <i class="fas fa-shopping-cart"></i>
                            Your Cart
                        </button>
                    </form>
                </div>

            </div>

        </div>
    </nav>




    <script>
        var search = localStorage.getItem('cart');
        $("textarea[type=text]").val(search);
    </script>
    </br>
    <div class="container">
        <div class="row">
            <!-- Первый блок -->
            <div class="col-8" style="height: 200px;">
                <h2>
                    <small class="text-secondary">Shipping detail</small>
                </h2>
                <hr/>
                {{ form_start(form) }}
                <div class="row">
                </br>
                    {{ form_widget(form.first_name, {'attr': {'class': "form-control col-5 mr-4 ml-3", 'onblur': "f()", 'placeholder': "First Name"}}, {'id': 'firstName' }) }}

                     {{ form_widget(form.last_name, {'attr': {'class': "form-control col-5 mr-4 ml-3", 'onblur': "f()", 'placeholder': "Last Name"}}, {'id': 'lastName' }) }}
                </div>
                </br>

                {{ form_widget(form.address, {'attr': {'class': "form-control col-10", 'onblur': "f()", 'placeholder': "Address"}}, {'id': 'address' }) }}
                </br>
                <div class="row">

                    {{ form_widget(form.country, {'attr': {'class': "form-control col-5 mr-4 ml-3", 'onblur': "f()", 'placeholder': "Country"}}, {'id': 'country' }) }}

                    {{ form_widget(form.city, {'attr': {'class': "form-control col-5 mr-4 ml-3", 'onblur': "f()", 'placeholder': "City"}}, {'id': 'city' }) }}
                </div>
                </br>
                <div class="row">



                    {{ form_widget(form.zip, {'attr': {'class': "form-control col-5 mr-4 ml-3", 'onblur': "f()", 'placeholder': "Zip/Postal Code"}}, {'id': 'code' }) }}



                    {{ form_widget(form.phone_number, {'attr': {'class': "form-control col-5 mr-4 ml-3", 'onblur': "f()", 'placeholder': "Phone Number"}}, {'id': 'phoneNumber' }) }}
                </div>
                <hr color="black"/>
                <div class="row">

                    <button type="submit" class="col-3 mr-4 ml-3 btn btn-secondary" id="next" href="/to_order" disabled>Next</button>
                    <button type="button" class="col-3 mr-4 ml-3 btn btn-light" id="btn_modal_window">Cancel</button>
                    <div id="error" class="error" style="color: red"></div>
                </div>
                {{ form_end(form) }}
                <div id="my_modal" class="modal">
                    <div class="modal_content">
                        <span class="close_modal_window">×</span>
                        <p>Are you sure you want to cancel the order?</p>
                        <a type="button" href="/cart" class="col-3 btn btn-light">Cancel</a>
                    </div>
                </div>
            </div>

            <!-- Второй блок -->
            <div class="col-4" style="height: 200px;">
                <h2>
                    <small class="text-secondary">Summary</small>
                </h2>
                <hr/>
                <div class="container">
                    {% if products!= null %}
                    {% for product in products %}
                    <div class="alert alert-dismissible"  onmouseover="this.style.borderColor = 'black'" onmouseout="this.style.borderColor = ''">

                        <div class="row">
{#                            <img src="https://onerepublic.com/wp-content/uploads/2019/11/1R_RM_HATSIDE_MOCK.jpg" style="wight: 90px; height: 80px">#}
                            <img src="uploads/{{ product.product.photo }}" style="wight: 90px; height: 80px">
                        </div>
                        <div class="row">
                            <h4 class="ml-3" id="productName1">
                                {{ product.product.name }}
                                </h4>
                                </br>
                                    <h5 id="price1">{{ product.product.cost }}$</h5>
                            </br>
                                    <h6 id="count1">Product count - {{ product.count }}</h6>
                            </br>
                    </div>
                    </div>
                        {% endfor %}
                    {% endif %}
                    <hr/>
                    <div class="row">
                        <div class="col-9">SUBTOTAL</div>
                        <div class="col-2" id="subtotal">${{ subtotal }}</div>
                    </div>
                    <div class="row">
                        <div class="col-9">TAXES</div>
                        <div class="col-2" id="taxes">${{ taxes }}</div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <h3 class="col-9">
                        <small>TOTAL</small>
                    </h3>
                    <h3 class="col-2" id="total">
                        <small>${{ total }}</small>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 135%;
            overflow: auto;
            background-color: rgba(0,0,0,0.6);
            z-index: 1000;
        }
        .modal .modal_content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 20%;
            height: 15%;
            z-index: 99999;
        }
        .modal .modal_content .close_modal_window {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }
    </style>
    <script>
        var modal = document.getElementById("my_modal");
        var btn = document.getElementById("btn_modal_window");
        var span = document.getElementsByClassName("close_modal_window")[0];


        btn.onclick = function () {
            modal.style.display = "block";
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script>
        function f() {
            var rePhone = /^[0-9]+$/i;
            var reName = /^[A-Za-z\s]+$/i;
            var reAddress = /^[a-zA-Z0-9]+$/;

            var myPhone = document.getElementById('order_phone_number').value;
            var myFirstName = document.getElementById('order_first_name').value;
            var myLastName = document.getElementById('order_last_name').value;
            var myAddress = document.getElementById('order_address').value;
            var myCity = document.getElementById('order_city').value;
            var myCode = document.getElementById('order_zip').value;
            var myCountry = document.getElementById('order_country').value;
            var validFirstName = reName.test(myFirstName);
            var validLastName = reName.test(myLastName);
            var validPhone = rePhone.test(myPhone);
            var validCity = reName.test(myCity);
            var validAddress = reAddress.test(myAddress);
            var validCountry = reName.test(myCountry);
            var validCode = rePhone.test(myCode);
            var next = document.getElementById('next');
            if (validPhone & validFirstName & validLastName & validCode & validCity & validAddress) {
                error.innerHTML = '';
                next.disabled = false;
            }
            else if(!validFirstName){
                error.innerHTML = 'You are using invalid characters for FirstName or empty field value.'
            }
            else if (!validLastName){
                error.innerHTML = 'You are using invalid characters for LastName or empty field value.'
            }
            else if (!validAddress){
                error.innerHTML = 'You are using invalid characters for Address or empty field value.';
            }else if (myCountry === null || myCountry === 'Country'){
                error.innerHTML = 'Empty field value on country.'
            }
            else if (!validCity){
                error.innerHTML = 'You are using invalid characters for City or empty field value.';
            }
            else if (!validCode){
                error.innerHTML = 'You are using invalid characters for Zip/Portal Code or empty field value.';
            }
            else if(!validPhone){
                error.innerHTML = 'You are using invalid characters for a phone number. Example: 891273627745';

            }
        }
    </script>

{% endblock %}
