{% extends 'base.html.twig' %}

{% block head %}

{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top border" style="box-shadow: black">
        <div class="container-fluid">
            <a href="/" class="navbar-brad">
                <img src="media/logo.jpg">
                MERCHEAP
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item">
                        <a href="/profile" class="nav-link">Profile</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/goods" class="nav-link">Shop</a>
                    </li>
                    {#                    <li class="navbar-item active">#}
                    {#                        <a href="/login" class="nav-link">Login</a>#}
                    {#                    </li>#}
                    <li class="navbar-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                </ul>
                <div class="navbar-item">

                    <button class="btn-dark"><a href="/cart"
                                                style="text-decoration: none; color: white">
                            <i class="fas fa-shopping-cart"></i>
                            Your Cart
                        </a>
                    </button>
                </div>

            </div>

        </div>
    </nav>
    </br>
    <div class="container col-md-8">
        <div>
            <h2>
                <small class="text-secondary">Shopping cart</small>
            </h2>
            <hr/>
            <div class="container">
                {% for product in products %}
                    <div class="alert alert-dismissible">
                        <div class="row">
                            <div class="col-3">
                                <img src="uploads/{{ product.photo }}"
                                     style="width: 150px; height: 150px" onmouseenter="changeSizeImageToBig(this)"
                                     onmouseleave="changeSizeImageToSmall(this)">
                            </div>
                            <div class="col-6">
                                <div class="ml-3" id="productName1">
                                    <div style="font-size: 16px" onmouseleave="reduceFontSize(this)"
                                         onmouseenter="increaseFontSize(this)">
                                        {{ product.name }}
                                    </div>
                                    <h5>
                                        <small id="description1">{{ product.description }}
                                        </small>
                                    </h5>
                                    <h4>
                                        <small id="price1">{{ product.cost }}$</small>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-3">
                                <button type="button" class="close" id="close" value="1" data-dismiss="alert"
                                        style="padding: 0">×
                                </button>
                                <div id="{{ product.id }}" class=""
                                     style="font-family: 'DejaVu Sans Mono', monospace; font-size: 16px; padding: 0">
                                    <span class="down">-</span>
                                    <span class="vote">0</span>
                                    <span class="up">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <hr style="color: #5a6268"/>
        <div class="row justify-content-end">
            <form action="/shipping" method="post">
                <input type="text" name="search" value="" hidden>
                <button type="submit" class="col-3 mr-4 ml-3 btn btn-secondary" name="next" id="next">
                    Next
                </button>
            </form>
        </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <footer class="page-footer font-small cyan darken-3" style="background-color: #efefef"> <!-- doesn't work(?) -->
        <div class="container text-center">
            <div class="col-md-12 py-5">
                <div class="flex-center">
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 ml-5 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Vk-->
                    <a class="ins-ic">
                        <i class="fab fa-vk fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center py-3">
            <a>Our links</a>
        </div>
    </footer> <!-- Footer -->
    </body>
    <script>
        var search = localStorage.getItem('cart');
        var array = JSON.parse(search);

        function Voter(options) {
            var elem = options.elem;

            var voteElem = elem.querySelector('.vote');
            var voteMinus = elem.querySelector('.down');
            var votePlus = elem.querySelector('.up');
            voteElem.style.cursor = "default";
            votePlus.style.cursor = "pointer";
            voteMinus.style.cursor = "pointer";

            elem.onclick = function (event) {
                if (event.target.closest('.down')) {
                    voteDecrease();
                } else if (event.target.closest('.up')) {
                    voteIncrease();
                }
            };

            elem.onmousedown = function () {
                return false;
            };

            function voteDecrease() {
                if (+voteElem.innerHTML === 0) {
                    return;
                }
                voteElem.innerHTML = +voteElem.innerHTML - 1;
            }

            function voteIncrease() {
                voteElem.innerHTML = +voteElem.innerHTML + 1;
            }

            this.setVote = function (vote) {
                voteElem.innerHTML = +vote;

            };

        }

        var voter = new Voter({
            elem: document.getElementById('voter')
        });

        voter.setVote(1);


    </script>

    <script>
        var bigsize = "170px"; //Размер большой картинки
        var smallsize = "150px"; //Размер маленькой картинки
        function changeSizeImageToSmall(im) {
            im.style.height = smallsize;
            im.style.width = smallsize;
            im.style.cursor = "pointer";
        }

        function changeSizeImageToBig(im) {
            im.style.height = bigsize;
            im.style.width = bigsize;
        }
    </script>

    <script>

        var bigSize = "18px";
        var smallSize = "16px";

        function increaseFontSize(text) {
            text.style.fontSize = bigSize;
            text.style.cursor = "pointer";
        }

        function reduceFontSize(text) {
            text.style.fontSize = smallSize;
        }

    </script>
    <script>
        var search = localStorage.getItem('cart');
        $("input[type=text]").val(search);
    </script>

        <!-- jQuery is necessary -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}
