{% extends 'base.html.twig' %}

{#{% block stylesheets %}#}
{#    {{ parent() }}#}
{#{% endblock %}#}
{% block body %}
    <style>
        .navbar-item {
            margin-right: 10px;
            margin-left: 10px;
        }

        ::-webkit-scrollbar {
            display: none;
        }
    </style>

    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top border" style="box-shadow: black">
        <div class="container-fluid">
            <a href="/" class="navbar-brand" style="font-family: 'Bebas Neue', cursive; font-size: 23px">
                <img class="pr-2"
                     src="https://sun7-6.userapi.com/2JYupaQXK7tuU6qqEN3Y3W0C568RoyyJq1Pu6g/8gOYGcN_NqE.jpg">MERCHEAP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {#                                        <li class="navbar-item">#}
                    {#                                            <a href="/goods" class="nav-link">Shop</a>#}
                    {#                                        </li>#}
                    <li class="navbar-item">
                        <button class="btn-dark">
                            <a href="/login" style="text-decoration: none; color: white">Login</a>
                        </button>
                    </li>
                    <li class="navbar-item">
                        <button class="btn-dark">
                            <a href="/register" style="text-decoration: none; color: white">Register</a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <br>
        <div class="row mb-5 mt-4">
            <div class="col"></div>
            <div class="col-md-3" style="text-align: center">
                <span><h1>Login</h1></span>
                <br>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('login') }}" method="post">
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">
                    <div class="form-group">
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                               placeholder="Enter email" name="email" value="{{ last_username }}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                               name="_password">
                    </div>

                    <div class="custom-control custom-checkbox" style="text-align: justify">
                        <input type="checkbox" class="custom-control-input" id="exampleCheck1" name="_remember_me">
                        <label class="custom-control-label" for="exampleCheck1" style="position: unset">Remember me</label>
                    </div>
                    <div>
                        <button type="submit" class="m-3 btn btn-secondary">Login</button>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <footer class="page-footer font-small cyan darken-3" style="background-color: #efefef"> <!-- doesn't work(?) -->
        <div class="container text-center">
            <div class="col-md-12 py-5">
                <div class="flex-center">
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 ml-5 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Vk-->
                    <a class="ins-ic">
                        <i class="fab fa-vk fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center py-3">
            <a>Our links</a>
        </div>
    </footer> <!-- Footer -->

{% endblock %}
