{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <style>
        ::-webkit-scrollbar {
            display: none;
        }
    </style>

    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top border" style="box-shadow: black">
        <div class="container-fluid">
            <a href="/" class="navbar-brad"><img
                        src="https://sun7-6.userapi.com/2JYupaQXK7tuU6qqEN3Y3W0C568RoyyJq1Pu6g/8gOYGcN_NqE.jpg">
                MERCHEAP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item">
                        <a href="/profile" class="nav-link">Profile</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/goods" class="nav-link">Shop</a>
                    </li>
                    <li class="navbar-item active">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                    {#                    <li class="navbar-item  active">#}
                    {#                        <a href="/register" class="nav-link">Register</a>#}
                    {#                    </li>#}
                </ul>
                <div class="navbar-item">

                    <button class="btn-dark"><a href="/cart"
                                                style="text-decoration: none; color: white">
                            <i class="fas fa-shopping-cart"></i>
                            Your Cart
                        </a>
                    </button>
                </div>

            </div>

        </div>
    </nav>

    <div class="container">
        <div class="row mb-3 mt-3">
            <div class="col-5">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
            </div>
            <div class="col-5"></div>
            <div class="col-2">
                {{ form_row(form.cost) }}
            </div>
        </div>
        <div class="row m-0">
            {{ form_row(form.description) }}
        </div>
        <div class="row mt-3">
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Photos:
                </label>
                <span class="btn">
                {{ form_row(form.photo) }}
            </span>
            </div>
        </div>
        <button type="submit" class="btn btn-dark">Create</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
