{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .media {
            margin-bottom: 30px;
        }

        .navbar-item {
            margin-right: 10px;
            margin-left: 10px;
        }

        .popup {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            display: none;
            text-align: center;
        }

        .popup_bg {
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
        }


        .popup_img {
            position: relative;
            margin: 0 auto;
            z-index: 2;
            max-height: 80%;
            max-width: 80%;

        }

        ::-webkit-scrollbar {
            display: none;
        }
    </style>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top border" style="box-shadow: black">
        <div class="container-fluid">
            <a href="/" class="navbar-brand" style="font-family: 'Bebas Neue', cursive; font-size: 23px">
                <img class="pr-2"
                     src="https://sun7-6.userapi.com/2JYupaQXK7tuU6qqEN3Y3W0C568RoyyJq1Pu6g/8gOYGcN_NqE.jpg">
                MERCHEAP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if is_granted('ROLE_USER') %}
                        <li class="navbar-item">
                            <a href="/profile" class="nav-link">Profile</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/goods" class="nav-link">Shop</a>
                        </li>
                        <li class="navbar-item">
                            <a href="/logout" class="nav-link">Logout</a>
                        </li>
                    {% else %}
                        <li class="navbar-item">
                            <button class="btn-dark">
                                <a href="/goods" class="nav-link" style="text-decoration: none; color: white">Shop</a>
                            </button>
                        </li>
                        <li class="navbar-item">
                            <button class="btn-dark">
                                <a href="/login" class="nav-link" style="text-decoration: none; color: white">Login</a>
                            </button>
                        </li>
                        <li class="navbar-item">
                            <button class="btn-dark">
                                <a href="/register" class="nav-link"
                                   style="text-decoration: none; color: white">Register</a>
                            </button>
                        </li>
                    {% endif %}
                </ul>
                <div class="navbar-item">
                    {% if is_granted('ROLE_USER') %}
                        <button class="btn-dark"><a href="/cart"
                                                    style="text-decoration: none; color: white">
                                <i class="fas fa-shopping-cart"></i>
                                Your Cart
                            </a>
                        </button>
                    {% endif %}
                </div>

            </div>

        </div>
    </nav>

    <div class="container">

        <div class="product row" style="padding-top: 30px;">
            <div id="carouselExampleIndicators" class="carousel slide col-xs-6 col-sm-8 col-md-8 col-lg-5"
                 style="padding-left: 30px;" data-ride="carousel">
                <ol class="carousel-indicators" style="z-index: 1">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 image"
                             src="uploads/{{ product.photo }}"
                             style="width: 500px;" alt="Первый слайд">
                    </div>
                </div>
            </div>


            <div class="price col-xs-6 col-sm-8 col-md-8 col-lg-7" style="position: center; height: 30px">
                <h1>{{ product.name }}</h1>
                <hr>
                <h3>{{ product.cost }}$</h3>
                <hr>
                <div class="media-text text-justify" style="padding-right: 10px">
                    {{ product.description }}
                </div>
                <br>
                <form style="float: right" name="changeColor">
                    <button name="add" class="btn btn-light add" data-art="{{ product.id }}"
                            onmouseover="mouseIn('add')" onmouseout="mouseOut()"
                            style="">Add to cart<i class="ml-2 fas fa-cart-plus"></i>
                    </button>
                </form>


            </div>
        </div>
        <hr>
        <div class="description pl-2">
            <h4 style="padding-left: 10px; font-family: 'Bebas Neue', cursive; font-size: 30px">{{ user.name }}</h4>
            <div class="media-text text-justify" style="padding-left: 10px; padding-right: 10px">
                {{ user.about }}
            </div>
        </div>
        <hr>

        <div class="media-body">
            <div class="media-heading">
                <div class="media-text text-justify row">
                    {{ form_start(form, {'attr': {'class': "col-xs-12 col-sm-12 col-md-12 col-lg-12"}}) }}
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                {{ form_widget(form.description, {'attr': {'style': "width: 100%; height: 38px", 'placeholder': "Leave your review"}}) }}
                                <br>
                            </div>
                            <div class="col-2">
                                <form action="{{ path('product') }}" method="post">
                                    <button name="send" class=" btn btn-light" id="send"
                                            onmouseover="mouseIn('send')"
                                            onmouseout="mouseOut()"
                                            value="{{ product.id }}">
                                        Leave a feedback
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <hr>
        <div class="comments pl-3">
            <h3 class="title-comments">Reviews</h3>
            <br>
            <!-- Комментарий (уровень 1) -->
            {% for comment in product.comments %}
                <div class="media">
                    <div class="media-body row">
                        <div class="col-xs-4 col-sm-12 col-md-1 col-lg-1 media-heading">
                            <img src="uploads/{{ comment.user.photo }}"
                                 style="width: 80px; border-radius: 40px;">
                        </div>
                        <div class="col-xs-4 col-sm-12 col-md-2 col-lg-2 media-heading">
                            <div class="author">
                                <h3>{{ comment.user.name }}</h3>
                                <span class="date">{{ comment.time|date('Y-m-d H:i:s') }}</span>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-12 col-md-9 col-lg-9 media-text text-justify">
                            {{ comment.description }}
                        </div>

                        <hr>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <footer class="page-footer font-small cyan darken-3" style="background-color: #efefef">
        <div class="container text-center">
            <div class="col-md-12 py-5">
                <div class="flex-center">
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 ml-5 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Vk-->
                    <a class="ins-ic">
                        <i class="fab fa-vk fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center py-3">
            <a>Our links</a>
        </div>
    </footer> <!-- Footer -->

    <script>
        var nav;
        var color;
        $(".image").click(function () {	// Событие клика на маленькое изображение
            var img = $(this);	// Получаем изображение, на которое кликнули
            var src = img.attr('src'); // Достаем из этого изображения путь до картинки
            document.body.style.overflowY = 'hidden';
            // nav = document.getElementsByClassName("navbar");
            // color = nav.style.background;
            // nav.style.background = "rgba(0,0,0,0.4)";
            $("body").append("<div class='popup'>" + //Добавляем в тело документа разметку всплывающего окна
                "<div class='popup_bg'></div>" + // Блок, который будет служить фоном затемненным
                "" +
                "<img src='" + src + "' class='popup_img' style='top: 80px; z-index: 2'/>" + // Само увеличенное фото
                "</div>");
            $(".popup").fadeIn(800); // Медленно выводим изображение
            $(".popup_bg").click(function () {	// Событие клика на затемненный фон
                // navbar.style.background = color;
                document.body.style.overflowY = '';
                $(".popup").fadeOut(100);	// Медленно убираем всплывающее окно
                setTimeout(function () {	// Выставляем таймер
                    $(".popup").remove(); // Удаляем разметку всплывающего окна
                }, 100);
            });
        });
    </script>

{% endblock %}
