{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .media {
            margin-bottom: 30px;
        }

        .navbar-item {
            margin-right: 10px;
            margin-left: 10px;
        }

        .popup {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            display: none;
            text-align: center;
        }

        .popup_bg {
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
        }


        .popup_img {
            position: relative;
            margin: 0 auto;
            z-index: 2;
            max-height: 80%;
            max-width: 80%;

        }

        ::-webkit-scrollbar {
            display: none;
        }

        .rating {
            display: flex;
        }

        .rating-item, .top-item, .grade-item {
            width: 40px;
            height: 35px;
            background-image: url("../../public/media/empty2.png");
            background-repeat: no-repeat;
            background-size: 30px 30px;
            border: 2px solid #fff;
            list-style: none;
            position: relative;
        }

        .rating-item {
            cursor: pointer;
        }

        .grade-item {
            width: 20px;
            height: 20px;
            background-size: 15px 15px;
        }

        .top-item {
            width: 30px;
            height: 30px;
            background-size: 25px 25px;
        }

        .rating-item.active, .top-item.active, .grade-item.active {
            background-image: url("../../public/media/full2.png")
        }
    </style>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top border" style="box-shadow: black">
        <div class="container-fluid">
            <a href="/" class="navbar-brad"><img
                        src="media/logo.jpg"> MERCHEAP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item">
                        <a href="/profile" class="nav-link">Profile</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/goods" class="nav-link">Shop</a>
                    </li>
                    <li class="navbar-item active">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                    {#                    <li class="navbar-item  active">#}
                    {#                        <a href="/register" class="nav-link">Register</a>#}
                    {#                    </li>#}
                </ul>
                <div class="navbar-item">

                    <button class="btn-dark"><a href="/cart"
                                                style="text-decoration: none; color: white">
                            <i class="fas fa-shopping-cart"></i>
                            Your Cart
                        </a>
                    </button>
                </div>

            </div>

        </div>
    </nav>
    <div class="container">

        <div class="product row" style="padding-top: 30px;">


            <div id="carouselExampleIndicators" class="carousel slide col-xs-6 col-sm-8 col-md-8 col-lg-5"
                 style="padding-left: 30px;" data-ride="carousel">
                <ol class="carousel-indicators" style="z-index: 1">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    {#                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>#}
                    {#                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>#}
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 image"
                             src="uploads/{{ product.photo }}"
                             style="width: 500px;" alt="Первый слайд">
                    </div>
                    {#                    <div class="carousel-item">#}
                    {#                        <img class="d-block w-100 image"#}
                    {#                             src="https://ae01.alicdn.com/kf/HTB1rWWQgTqWBKNjSZFAq6ynSpXah/pyhenph.jpg"#}
                    {#                             style="width: 500px; " alt="Второй слайд">#}
                    {#                    </div>#}
                    {#                    <div class="carousel-item">#}
                    {#                        <img class="d-block w-100 image"#}
                    {#                             src="https://go3.imgsmail.ru/imgpreview?key=761b96ccf5da4cf3&mb=storage&w=540"#}
                    {#                             style="width: 500px;" alt="Третий слайд">#}
                    {#                    </div>#}
                </div>

                {#                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">#}
                {#                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
                {#                    <span class="sr-only">Previous</span>#}
                {#                </a>#}
                {#                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">#}
                {#                    <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
                {#                    <span class="sr-only">Next</span>#}
                {#                </a>#}
            </div>


            <div class="price col-xs-6 col-sm-8 col-md-8 col-lg-7" style="position: center; height: 30px">
                <h1>{{ product.name }}</h1>
                {#                <div class="row" style="padding-left: 15px">#}
                {#                    <div class="top-item active" data-rate="1"></div>#}
                {#                    <div class="top-item" data-rate="2"></div>#}
                {#                    <div class="top-item" data-rate="3"></div>#}
                {#                    <div class="top-item" data-rate="4"></div>#}
                {#                    <div class="top-item" data-rate="5"></div>#}
                {#                    <div style="margin-left: 15px; color: #9fa2a3; text-align: center"> 5 reviews</div>#}
                {#                </div>#}
                <hr>
                <h3>${{ product.cost }}$</h3>
                <hr>
                <div class="media-text text-justify" style="padding-left: 10px; padding-right: 10px">
                    {{ product.description }}
                </div>
                <br>
                <form style="float: right" name="changeColor">
                    <button name="add" class="btn btn-light" id="add" data-art="{{ product.id }}" onmouseover="mouseIn('add')" onmouseout="mouseOut()"
                            style="">Add to cart
                    </button>
                </form>



            </div>
        </div>
        <hr>
        <div class="description">
            <h2 style="padding-left: 10px;">{{ user.name }}</h2>
            <div class="media-text text-justify" style="padding-left: 10px; padding-right: 10px">
                {{ user.about }}
            </div>
        </div>
        <hr>

        <div class="media-body">
            <div class="media-heading">
                <div class="media-text text-justify row">
                    {{ form_start(form, {'attr': {'class': "col-xs-12 col-sm-12 col-md-12 col-lg-12"}}) }}
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                {{ form_widget(form.description, {'attr': {'style': "width: 100%; height: 38px", 'placeholder': "Leave your review"}}) }}
                                <br>
                            </div>
                            <div class="col-2">
                                <button name="send" class=" btn btn-light" id="send" style=""
                                        onmouseover="mouseIn('send')"
                                        onmouseout="mouseOut()">Leave a feedback
                                </button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}


                </div>
            </div>
        </div>
        <hr>
        <div class="comments">
            <h3 class="title-comments">Reviews</h3>
            <br>
            <!-- Комментарий (уровень 1) -->
            {% for comment in product.comments %}
            <div class="media">
                <div class="media-body row">
                    <div class="col-xs-4 col-sm-12 col-md-1 col-lg-1 media-heading">
                        <img src="uploads/{{ comment.user.photo}}"
                             style="width: 80px; border-radius: 40px;">
                    </div>
                    <div class="col-xs-4 col-sm-12 col-md-2 col-lg-2 media-heading">
                        <div class="author">
                            <h3>{{ comment.user.name}}</h3>
{#                            <div class="row" style="padding-left: 15px">#}
{#                                <div class="grade-item active" data-rate="1"></div>#}
{#                                <div class="grade-item" data-rate="2"></div>#}
{#                                <div class="grade-item" data-rate="3"></div>#}
{#                                <div class="grade-item" data-rate="4"></div>#}
{#                                <div class="grade-item" data-rate="5"></div>#}
{#                            </div>#}
                            <span class="date">{{ comment.time|date('Y-m-d H:i:s') }}</span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-12 col-md-9 col-lg-9 media-text text-justify">
                        {{ comment.description }}
                    </div>

                    <hr>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    <footer class="page-footer font-small cyan darken-3" style="background-color: #efefef"> <!-- doesn't work(?) -->
        <div class="container text-center">
            <div class="col-md-12 py-5">
                <div class="flex-center">
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 ml-5 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Vk-->
                    <a class="ins-ic">
                        <i class="fab fa-vk fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center py-3">
            <a>Our links</a>
        </div>
    </footer> <!-- Footer -->

    <script language="javascript">
        //для подстветки кнопки
        var default_color;
        var elem;

        function mouseIn(id) {
            elem = document.getElementById(id);
            default_color = elem.style.background;
            elem.style.background = "#bfbfbf";
        }

        function mouseOut() {
            elem.style.background = default_color;
        }
    </script>
    <script>

        var nav;
        var color;
        $(".image").click(function () {	// Событие клика на маленькое изображение
            var img = $(this);	// Получаем изображение, на которое кликнули
            var src = img.attr('src'); // Достаем из этого изображения путь до картинки
            document.body.style.overflowY = 'hidden';
            // nav = document.getElementsByClassName("navbar");
            // color = nav.style.background;
            // nav.style.background = "rgba(0,0,0,0.4)";
            $("body").append("<div class='popup'>" + //Добавляем в тело документа разметку всплывающего окна
                "<div class='popup_bg'></div>" + // Блок, который будет служить фоном затемненным
                "" +
                "<img src='" + src + "' class='popup_img' style='top: 80px; z-index: 2'/>" + // Само увеличенное фото
                "</div>");
            $(".popup").fadeIn(800); // Медленно выводим изображение
            $(".popup_bg").click(function () {	// Событие клика на затемненный фон
                // navbar.style.background = color;
                document.body.style.overflowY = '';
                $(".popup").fadeOut(100);	// Медленно убираем всплывающее окно
                setTimeout(function () {	// Выставляем таймер
                    $(".popup").remove(); // Удаляем разметку всплывающего окна
                }, 100);
            });
        });
    </script>

{% endblock %}
